<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/u_join.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1><a href="/">logo</a></h1>
    <h1 id="pagename">관리자페이지</h1>
    <div>
        <p>{{user.nickname}}님 반갑습니다.</p>
        <p></p>
        <p></p>
        <h3><a href="/admin/list">회원 리스트</a></h3>    
    </div>
    <div class="button">
        <a href="/">home</a>
        <a href="/admin/logout">로그아웃</a>
    </div>
</body>
</html>