<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin_user_list</title>
    <link href="/admin.css" rel="stylesheet" type="text/css">
</head>
<body id="admin_list">
    {% include "../nunjucks/header.html" %}
    <div id="wrap">
        <h3 id="list_pagename">회원 리스트</h3>
        <div class="admin_list">
            <div class="text">
                <h2>최고관리자 <p>(level 1)</p></h2>
                <h2>관리자 <p>(level 2)</p></h2>
                <h2>사용자 <p>(level 3)</p></h2>
            </div>
            <div class="admin1">
                <ul>
                    {% for data in rows %}
                    {% if data.level == 1 %}
                    <li><a href='/admin/info/?id={{data.userid}}'>{{data.userid}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>    
                <ul>
                    {% for data in rows %}
                    {% if data.level == 2 %}
                    <li><a href='/admin/info/?id={{data.userid}}'>{{data.userid}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>   
                <ul>
                    {% for data in rows %}
                    {% if data.level == 3 %}
                    <li><a href='/admin/info/?id={{data.userid}}'>{{data.userid}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>   
            </div>
        </div>
        <div class="list_button">
            <button><a href="/admin/home">관리자 페이지</a></button>
        </div>
    </div>
    
    {% include "../nunjucks/footer.html" %}
</body>
</html>