<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/user.css" rel="stylesheet" type="text/css">
    {% include "../nunjucks/join_formCheck.html" %}
</head>
<body class="joinimg">
    {% include "../nunjucks/header.html" %}
    <div id="wrap">
        <h3 id="join_pagename">Welcome to "Join"</h3>
        <h5> !! <span>*</span>는 필수사항입니다. !!</h5>
        <form name="form" method="post" action="/user/join" onSubmit="return formCheck()">
            <div class="jjoin_info">
                <div class="info_title">
                    <table>
                        <tbody class="tbody">
                            <tr>
                                <td> * ID </td>
                                <td> <input type="text" name="userid"> </td>
                            </tr>
                            <tr>
                                <td> * PW </td>
                                <td> <input type="password" name="userpw"> </td>
                            </tr>
                            <tr>
                                <td> * Name </td>
                                <td> <input type="text" name="username"> </td>
                            </tr>
                            <tr>
                                <td> * Nickname </td>
                                <td> <input type="text" name="nickname"> </td>
                            </tr>
                            <tr>
                                <td> * Birth </td>
                                <td> <input type="text" name="birth" placeholder="6자리입력"> </td>
                            </tr>
                            <tr>
                                <td> * Gender </td>
                                <td> 
                                    <select name="gender">
                                    <option>남성</option>
                                    <option>여성</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td> Phone </td>
                                <td> <input type="text" name="phone" placeholder="숫자만입력"> </td>
                            </tr>
                            <tr>
                                <td> * H-Phone </td>
                                <td> <input type="text" name="mobile" placeholder="숫자만입력"> </td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
            <div class="user_join">
                <input type="submit" value="Join">
            </div>
        </form>
    </div>

    {% include "../nunjucks/footer.html" %}
</body>
</html>