<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/user.css" rel="stylesheet" type="text/css">
</head>
<body>
    {% include "../nunjucks/header.html" %}
    <img src="/public/img/welcome.jpg">
    <h3 id="pagename">Welcome to "Join"</h3>
    <form method="post" action="/user/join">
        <div class="user_info">
            <p> !! *는 필수사항입니다. !!</p>
            <p>ID * : <input type="text" name="userid"></p>
            <p>PW * : <input type="text" name="userpw"></p>
            <p>Name * : <input type="text" name="username"></p>
            <p>Nickname * : <input type="text" name="nickname"></p>
            <p>Birth * : <input type="text" name="birth" placeholder="6자리입력"></p>
            <p>Gender * : 
                <select name="gender">
                    <option>선택</option>
                    <option>남성</option>
                    <option>여성</option>
                </select></p>
            <p>Phone : <input type="text" name="phone" placeholder="숫자만입력"></p>
            <p>H-Phone * : <input type="text" name="mobile" placeholder="숫자만입력"></p>
        </div>
        <div class="user_join_login">
            <input type="submit" value="Join">
        </div>
    </form>
    <div class = "home">
        <a  href="/">home</a>
    </div>
</body>
</html>