<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/user.css" rel="stylesheet" type="text/css">
    {% include "../nunjucks/login_formCheck.html" %}
</head>
<body id="loginimg">
    {% include "../nunjucks/header.html" %}
    <div id="wrap">
        <h3 id="login_pagename">Welcome to "Login"</h3>
        <form name="form" method="post" action="/user/login" onSubmit="return formCheck()">
            <div class="login_info_title">
                <table>
                    <tbody class="login_tbody">
                        <tr>
                            <td> * ID </td>
                            <td> <input type="text" name="userid"> </td>
                        </tr>
                        <tr>
                            <td> * PW </td>
                            <td> <input type="password" name="userpw"> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="user_join_login">
                <input type="submit" value="login">
            </div>
        </form>
    </div>
    {% include "../nunjucks/footer.html" %}
</body>
</html>