<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/user.css" rel="stylesheet" type="text/css">
</head>
<body>
    {% include "../nunjucks/header.html" %}
    <div id="loginimg"></div>
    <h3 id="pagename">Welcome to "Login"</h3>
    <form method="post" action="/user/login">
        <div class="user_info">
            <p>ID <input type="text" name="userid"></p>
            <p>PW <input type="password" name="userpw"></p>
        </div>
        <div class="user_join_login">
            <input type="submit" value="login">
        </div>
    </form>
    <!-- <div class = "home">
        <a  href="/">home</a>
    </div> -->
</body>
</html>