<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/u_update.css" rel="stylesheet" type="text/css">
    {% include "../nunjucks/pUpdate_formCheck.html" %}
</head>
<body>
    {% include "../nunjucks/header.html" %}
    <div id="wrap">
        <h3 id="pagename">"You can edit your profile"</h3>
        <form name="form" method="post" action="/user/profile/update" onSubmit="return formCheck()">
            <div class="join_info">
                <div class="info_title">
                    <table>
                        <tbody class="tbody">
                            <tr>
                                <td> * ID </td>
                                <td> {{user.userid}} </td>
                            </tr>
                            <tr>
                                <td> * PW </td>
                                <td> <input type="password" name="userpw" value="{{user.userpw}}"> </td>
                            </tr>
                            <tr>
                                <td> * Nickname </td>
                                <td> <input type="text" name="nickname" value="{{user.nickname}}"> </td>
                            </tr>
                            <tr>
                                <td> * Birth </td>
                                <td> {{user.birth}} </td>
                            </tr>
                            <tr>
                                <td> * Gender </td>
                                <td> {{user.gender}} </td>
                            </tr>
                            <tr>
                                <td> Phone </td>
                                <td> <input type="text" name="phone" value="{{user.phone}}"> </td>
                            </tr>
                            <tr>
                                <td> * H-Phone </td>
                                <td> <input type="text" name="mobile" value="{{user.mobile}}"> </td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
            <div class="join_login">
                <input type="submit" value="Edit">
            </div>
        </form>
        <div class="button">
            <button><a href="/user/profile">Profile</a></button>
        </div>
    </div>
    {% include "../nunjucks/footer.html" %}
</body>
</html>