<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/u_update.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1><a href="/">logo</a></h1>
    <h1 id="pagename">회원 정보 수정 페이지</h1>
    <form method="post" action="/user/profile/update">
        <div class="join_info">
            <h3>회원정보</h3>
            <p>ID * : {{user.userid}}</p>
            <p>PW * : <input type="text" name="userpw" value="{{user.userpw}}"></p>
            <p>Name * : {{user.username}}</p>
            <p>Nickname * : <input type="text" name="nickname" value="{{user.nickname}}"></p>
            <p>Birth * : {{user.birth}}</p>
            <p>Gender * : {{user.gender}}</p> 
            <p>Phone : <input type="text" name="phone" value="{{user.phone}}"></p>
            <p>H-Phone * : <input type="text" name="mobile" value="{{user.mobile}}"></p>
        </div>
        <div class="join_login">
            <input type="submit" value="수정">
        </div>
    </form>
    <div class = "home">
        <a  href="/">home</a>
        <p></p>
        <a href="/user/profile">profile page</a>
    </div>
</body>
</html>