
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/user.css" rel="stylesheet" type="text/css">
</head>
<body>
    {% include "../nunjucks/header.html" %}
    <h3 id="pagename">My Profile</h3>
    <div class="user_join_login">
        <p>{{user.nickname}}님 반갑습니다.</p>
        <p>이름: {{user.username}}</p>
        <p>성별: {{user.gender}}</p>
        {% if user.phone %}
        <p>전화번호: 0{{user.phone}}</p>
        {% else %}
        <p>전화번호: 없음</p>
        {% endif %}
        <p>핸드폰번호: 0{{user.mobile}}</p>        
    </div>
    <div class="button">
        <a href="/">home</a>
        <a href="/board/list/1">board</a>
        <a href="/user/profile/update">Profile Edit</a>
        <form method="post" action="/user/profile">
            <input type="hidden" name="userid" value="{{user.userid}}">
            <button type="submit">탈퇴하기</button>
        </form>
    </div>
    <div class="p_list">
        내가 작성한 글목록
    </div>
    <div class="p_comment">
        내가 작성한 댓글
    </div>
    <div class="p_scrap">
        스크랩
    </div>
</body>
</html>
    
    
