
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/user.css" rel="stylesheet" type="text/css">
</head>
<body>
    {% include "../nunjucks/header.html" %}
    <h3 id="pagename">My Profile</h3>
    <div class="user_join_login">
        <p>{{user.nickname}}님 반갑습니다.</p>
        <p>이름: {{user.username}}</p>
        <p>성별: {{user.gender}}</p>
        {% if user.phone %}
        <p>전화번호: 0{{user.phone}}</p>
        {% else %}
        <p>전화번호: 없음</p>
        {% endif %}
        <p>핸드폰번호: 0{{user.mobile}}</p>        
    </div>
    <div class="button">
        <button><a href="/">home</a></button>
        <button><a href="/board/list/1">board</a></button>
        <button><a href="/user/profile/update">Edit</a></button>
        <form method="post" action="/user/profile">
            <input type="hidden" name="userid" value="{{user.userid}}">
            <button type="submit">탈퇴하기</button>
        </form>
    </div>
    <div id="profile_my_history">
        <div class="history1">
            <h3><a href="/user/board/1">작성한 글 보기</a></h3>
        </div>
        <div class="history2">
            <h3><a href="/user/comment/1">작성 댓글 보기</a></h3>
        </div>
        <div class="history3">
            <h3><a href="/user/scrap/1">스크랩 보기</a></h3>
        </div>
    </div>
</body>
</html>
    
    
