<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/u_update.css" rel="stylesheet" type="text/css">
    {% include "../nunjucks/pUpdate_formCheck.html" %}
</head>
<body>
    {% include "../nunjucks/header.html" %}
    <div id="wrap">
        <div id="update_img"></div>
        <h3 id="pagename">"You can edit your profile"</h3>
        <form method="post" action="/user/profile/update">
            <div class="join_info">
                <p class="id"> * ID {{user.userid}}</p>
                <p> * PW <input type="text" name="userpw" value="{{user.userpw}}"></p>
                <p class="name"> * Name {{user.username}}</p>
                <p> * Nickname <input type="text" name="nickname" value="{{user.nickname}}"></p>
                <p class="birth"> * Birth {{user.birth}}</p>
                <p class="gender"> * Gender  {{user.gender}}</p> 
                <p> Phone <input type="text" name="phone" value="{{user.phone}}"></p>
                <p> * H-Phone <input type="text" name="mobile" value="{{user.mobile}}"></p>
            </div>
            <div class="join_login">
                <input type="submit" value="Edit">
            </div>
        </form>
        <div class="button">
            <button><a href="/user/profile">Profile</a></button>
        </div>
    </div>
    
    <!-- <div class = "home">
        <a  href="/">home</a>
    </div> -->
    {% include "../nunjucks/footer.html" %}
</body>
</html>