
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/u_join.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1><a href="/">logo</a></h1>
    <h1 id="pagename">프로필페이지</h1>
    <div>
        <p>{{userid}}님 반갑습니다.</p>
        <p>이름: {{username}}</p>
        <p>성별: {{gender}}</p>
        <p>전화번호: {{phone}}</p>
        <p>핸드폰번호: {{mobile}}</p>        
    </div>
    <div class="button">
        <a href="/">home</a>
        <a href="/board/list/1">board</a>
    </div>
</body>
</html>
    
    
