<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/u_welcome.css" rel="stylesheet" type="text/css">
</head>
<body>
    {% include "../nunjucks/header.html" %}
    <h3 id="pagename">welcome</h3>
    <div>
        <p>{{user.nickname}}님 반갑습니다.</p>
        <p>아이디: {{user.userid}}</p>
        <p>이름: {{user.username}}</p>
        <p>성별: {{user.gender}}</p>
        {% if user.phone %}
        <p>전화번호: {{user.phone}}</p>
        {% else %}
        <p>전화번호: 없음</p>
        {% endif %}
        <p>핸드폰번호: {{user.mobile}}</p>        
    </div>
    <div class="button">
        <a href="/">home</a>
        <a href="/user/login">login</a>
    </div>
</body>
</html>
    