@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
    margin:0;
    padding:0;
    background: #000;
    font-family : 'LAB디지털'!important;
}

ul,li{list-style: none;}
a{text-decoration: none;}


#wrap{
    position:relative;
    /* width: 100%; */
    height: 100vh;
    background-image: url('./img/planets.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

#wrap > h3 {
    background: transparent !important;
}

.join_info > p {
    background: transparent !important;
}

.join_info > p > span {
    background: transparent !important;
    font-weight: bold;
}


div.button {
    background: transparent !important;
}

div.admin_list {
    background-image: url('./img/earth2.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

div.text {
    background: transparent !important;
}

div.text > h2 {
    background: transparent !important;
    color: rgb(194, 55, 182);
}

div.text > h2 > p {
    background: transparent !important;
    color: rgb(194, 55, 182);
}

div.admin1 {
    background: transparent !important;
}

div.admin1 > ul {
    background: transparent !important;
}

div.admin1 > ul > li {
    background: transparent !important;
}

div.admin1 > ul > li > a {
    background: transparent !important;
    font-weight: bold;
}

#admin_info {
    background-image: url('./img/bluegalaxy.png');
    background-repeat: repeat-x;
    background-position-x: center;
    background-position-y: center;
}

#admin_info > .member_info {
    background: transparent !important;
}

#admin_info > .member_info > p {
    background: transparent !important;
    font-weight: bold;
}

#admin_info > .member_info > p > span {
    background: transparent !important;
    font-weight: bold;
}

#admin_info > .level {
    background: transparent !important;
}

#admin_info > .level > form {
    background: transparent !important;
}

#admin_info > .level > form > p {
    background: transparent !important;
    font-weight: bold;
}

#admin_info > .level_button {
    background: transparent !important;
}


#pagename{
    position: absolute;
    /* width:100%; */
    left: 45%;
    top:12%;
    font-size: 27px;
    color: #fff;
}

.user_info{
    position: absolute;
    top: 35%;
    left:47%;
    transform: translateX(-47%);
    width:350px;
    background-color: transparent;
    
}

.user_info>p {  
    /* position: relative;
    right: 20%; */
    background-color: transparent;
    font-size: 24px;
    text-align: right;
    margin-top:3%;
}

.user_info>p>input{
    border:none;
    border-bottom: 0.5px rgb(194, 55, 182) dotted;
    background-color: transparent;
    font-size: 21px;
    margin-left:1%;
    padding-bottom:1px;
    padding-left:1%;
    box-sizing: border-box;
}

.user_info>p>input:focus{
    outline: none;
}

.user_join_login {
    position: absolute;
    text-align: center;
    top:55%;
    left:50%;
    transform: translateX(-50%);

}

.user_join_login > input {
    margin-top: 5%;
    font-size: 18px;
    padding: 5px 7px;
    border:none;
    background: #f1f1f1;
    color:#000;
    border-radius: 30%;
}


.home {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:70%;
}

.home > button {
    padding: 5px;
    border: none;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px #f1f1f1 dashed;
}


.join_info{
    position: relative;
    top: 35%;
    left:50%;
    text-align: center;
    transform: translateX(-50%);
    background-color: transparent;
    /* margin-top:10%; */
}

.join_info>p{
    margin-bottom:5%;
    font-size: 22px;
}

.join_info>p>span{
    color:rgb(194, 55, 182);
}

.join_info>div{
    position:relative;
    top:70%;
    left:50%;
    transform: translateX(-50%);
    text-align: center; 
    cursor: pointer;
    padding:1%;
    box-sizing: border-box;
    width:300px;
    border:1px solid rgb(194, 55, 182);
}

.join_info > div > h3{
    font-size:22px;
    text-align: center;
}

.join_info>div>h3>a{
    text-align: center;
}

.admin_list{
    position: relative;
    width: 100%;
    height: auto;
    padding-top:10%;
    box-sizing: border-box;
}

.text{
    position: relative;
    top:18%;
    width: 100%;;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left:-1%;
}

.text>h2>p{
    margin-top:2%;
}

.admin1{
    position: relative;
    top:20%;
    display: flex;
    justify-content: space-around;
}

.admin1>ul{
    margin-top:2%;
    width:400px;
    border:1px rgb(194, 55, 182) dotted;
}

.admin1>ul>li{
    margin:5%;
}


.admin1>ul>li>a{
    color:rgb(221, 83, 28);
    font-size:18px;
    margin:5% 0;
}


.button{
    text-align: center;
    width:200px;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    margin-top:25%;
}

.button > button {
    padding: 7px;
    border: none;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px #f1f1f1 dashed;
}

.list_button{
    margin-top: 2%;
    text-align: center;
}

.list_button > button {
    padding: 7px;
    border: none;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px #f1f1f1 dashed;
}

.member_info{
    position: relative;
    padding-top: 10%;
    box-sizing: border-box;
    text-align: center;
    font-size:18px;

}

.member_info>p{
    margin:1% 0;
}

.member_info>p>span{
    color:rgb(194, 55, 182);
}

.level{
    position: relative;
    text-align: center;
    font-size:18px;
}

.level>form>p{
    margin:1% 0;
}

.level>form>p>select{
    font-size: 18px;
}

.level>form>button{
    margin-top:3%;
    padding: 7px;
    border: none;
    font-size: 14px;
    box-sizing: border-box;
    background: rgb(221, 83, 28);
    color:#f1f1f1;
}



.level_button{
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin:5% auto;
}

.level_button > button {
    padding: 7px;
    border: none;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px #f1f1f1 dashed;
}

