@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
    margin:0;
    padding:0;
    background: #000;
    font-family : 'LAB디지털'!important;
}

ul,li{list-style: none;}
a{text-decoration: none;}

#admin_home_wrap{
    background-image: url('./img/planets.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

#wrap{
    padding-top:70px;
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    box-sizing: border-box;
    
}

#wrap > h3 {
    background: transparent !important;
}

.join_info > p {
    background: transparent !important;
}

.join_info > p > span {
    background: transparent !important;
    font-weight: bold;
}


div.button {
    background: transparent !important;
}

div.admin_list {
    background-image: url('./img/earth2.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

div.text {
    background: transparent !important;
}

div.text > h2 {
    background: transparent !important;
    color: rgb(194, 55, 182);
}

div.text > h2 > p {
    background: transparent !important;
    color: rgb(194, 55, 182);
}

div.admin1 {
    background: transparent !important;
}

div.admin1 > ul {
    background: transparent !important;
}

div.admin1 > ul > li {
    background: transparent !important;
}

div.admin1 > ul > li > a {
    background: transparent !important;
    font-weight: bold;
}

#admin_info {
    background-image: url('./img/bluegalaxy.png');
    background-repeat: repeat-x;
    background-position-x: center;
    background-position-y: center;
}

#admin_info > .member_info {
    background: transparent !important;
}

#admin_info > .member_info > p {
    background: transparent !important;
    font-weight: bold;
}

#admin_info > .member_info > p > span {
    background: transparent !important;
    font-weight: bold;
}

#admin_info > .level {
    background: transparent !important;
}

#admin_info > .level > form {
    background: transparent !important;
}

#admin_info > .level > form > p {
    background: transparent !important;
    font-weight: bold;
}

#admin_info > .level_button {
    background: transparent !important;
}


#pagename{
    margin-top:14%;
    text-align: center;
    font-size:28px;
    background-color: transparent;
}

#list_pagename{
    margin-top:3%;
    text-align: center;
    font-size:28px;
    background-color: transparent;
}

form{
    background-color: transparent;
}

.user_info{
    width:318px;
    background-color: transparent;
    margin:5% auto;
}

.user_info>p {  
    background-color: transparent;
    font-size: 26px;
    text-align: right;
    margin-top:3%;
}

.user_info>p>input{
    border:none;
    border-bottom: 0.5px rgb(194, 55, 182) dotted;
    background-color: transparent;
    font-size: 21px;
    margin-left:1%;
    padding-bottom:1px;
    padding-left:1%;
    box-sizing: border-box;
}

.user_info>p>input:focus{
    outline: none;
}

.user_join_login {
    text-align: center;
    background-color: transparent;
    margin-top:3%;

}

.user_join_login > input {
    font-size: 20px;
    padding: 5px 7px;
    border:none;
    background: #f1f1f1;
    color:#000;
    border-radius: 30%;
    box-sizing: border-box;
}


.home {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:70%;
}

.home > button {
    padding: 5px;
    border: none;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px #f1f1f1 dashed;
}


.join_info{
    margin-top: 4%;
    text-align: center;
    background-color: transparent;
    /* margin-top:10%; */
}

.join_info>p{
    margin-bottom:3%;
    font-size: 22px;
}

.join_info>p>span{
    color:rgb(194, 55, 182);
}

.join_info>div{
    margin:0 auto;
    cursor: pointer;
    padding:1%;
    box-sizing: border-box;
    width:300px;
    border:1px solid rgb(194, 55, 182);
}

.join_info > div > h3{
    font-size:22px;
    text-align: center;
}

.join_info>div>h3>a{
    text-align: center;
}

.admin_list{
    width: 100%;
    height: auto;
    margin-top:3%;
    box-sizing: border-box;
}

.text{
    width: 100%;;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-left:-1%;
}

.text>h2>p{
    margin-top:2%;
}

.admin1{
    display: flex;
    justify-content: space-around;
}

.admin1>ul{
    margin-top:2%;
    width:400px;
    border:1px rgb(194, 55, 182) dotted;
}

.admin1>ul>li{
    margin:5%;
    text-align: center;
}


.admin1>ul>li>a{
    color:rgb(221, 83, 28);
    font-size:18px;
    margin:5% 0;
    
}


.button{
    text-align: center;
    width:200px;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    margin-top:4%;
}

.button > button {
    padding: 7px;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px #f1f1f1 dashed;
}

.list_button{
    margin:3% 0;

    text-align: center;
}

.list_button > button {
    padding: 7px;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px #f1f1f1 dashed;
}

.member_info{
    margin:0 auto;
    margin-top:3%;
    width:300px;
    background-color: #000;
    text-align: center;
    font-size:18px;
    padding:1% 0;
    box-sizing: border-box;
    border-radius: 50px;

}

.member_info>p{
    margin:5% 0;
    background-color: transparent;
}

.member_info>p>span{
    color:rgb(194, 55, 182);
    background-color: transparent;
}

.member_info>form>p{
    margin:5% 0;
}


.member_info>form>p>select{
    font-size: 18px;
}

.member_info>form>button{
    margin-bottom:5%;
    padding: 7px;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
    background: rgb(221, 83, 28);
    color:#f1f1f1;
}



.level_button{
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin:3% auto;
    background-color: transparent;
}

.level_button > button {
    padding: 7px;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px #f1f1f1 dashed;
}


.login_info_title{
    background-color: transparent;
    margin-top:5%;
}

.login_info_title>table{
    width:500px;
    background-color: transparent;
    margin:0 auto;
    border-collapse: separate;
    border-spacing: 10px 20px;
    text-align: center;
    
}

.login_tbody{
    background-color: transparent;
}

.login_tbody>tr{
    background-color: transparent;
    font-size: 22px;
    text-align: center;
    margin-bottom:8%;
    padding-bottom: 8%;

}

.login_tbody>tr>td:nth-child(1){
    text-align: right;
    font-size: 22px;
    background-color: transparent;
    margin-bottom:8%;
}

.login_tbody>tr>td:nth-child(2){
    width:70%;
    text-align: left;
    font-size: 22px;
    background-color: transparent;
    margin-left:5%;
}

.login_tbody>tr>td>input{
    width: 60%;
    background-color: transparent;
    border:none;
    border-bottom: 0.5px rgb(194, 55, 182) dotted;
    font-size: 22px;
    padding-bottom: 0.5%;
    padding-left:0.5%;
    box-sizing: border-box;
}

.login_tbody>tr>td>input:focus{
    outline: none;
}

