@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    color:whitesmoke;
}

ul,li{list-style: none;}
a{text-decoration: none;}

body {
    background-image: url('./img/stardust.png');
    background-repeat: repeat-x;
    background-position-x: center;
    background-position-y: center;
}

#welcome_m {
    background: transparent !important;
}

#content > .list_num > a {
    font-size: 18px;
}

#wrap{
    padding-top:70px;
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    box-sizing: border-box;
}

#b_name{
    text-align: center;
    font-size:25px;
    background-color: transparent;
}

#welcome_m{
    text-align: center;
    margin-top: 4%;
    font-size: 22px;
}

#welcome_m > span{
    color:rgb(194, 55, 182) !important;
}

#content {
    text-align: center;
    width:960px;
    /* height: 100vh; */
    margin:1.7% auto;
    font-size: 18px;
    padding: 0.5% 2%;
    box-sizing: border-box;
}

table {
    width:916.5px;
    font-size:18px;
    table-layout: fixed;
}

#board_head {
    font-weight: bold;
    text-align: center;
}

#board_head tr td {
    padding:10px 0;
    box-sizing: border-box;
    border-bottom: 2px rgb(194, 55, 182) solid;
}

.board_idx {
    width:46px;
}
.board_title {
    width:500px;
}
.board_nickname {
    width:120px;
}

.board_date{
    width:120px;
}
.board_likes {
    width:50px;
}
.board_view {
    width:50px;
}

#board_body{
    font-weight: bold;
    text-align: center;
}

#board_body tr td {
    padding:20px 0;
    box-sizing: border-box;
}

#box {
    margin:4% auto;
    padding: 5px 0;
    width:960px;
    box-sizing: border-box;
    background-color: transparent;
}
.box1 {
    margin-left: 5px;
    border: none;
    float:right;
    background: rgb(194, 55, 182);
    padding: 7px;
    font-size: 18px;
}

.box1>a{
    color:#fff;
    background: rgb(194, 55, 182);
}

.list_num{
    text-align: center;
    margin:0 auto;

}

.list_num > a{
    color:lemonchiffon;
    font-size:18px;
    margin-left: 2px;
}

