*{
    margin:0;
    padding:0;
    color:whitesmoke;
}

ul,li{list-style: none;}
a{text-decoration: none;}


#b_name{
    margin-top:20px;
    text-align: center;
    font-size:25px;
}

#welcome_m{
    text-align: center;
    margin-top: 20px;
    
}

#welcome_m > span{
    color:rgb(194, 55, 182) !important;
}

#content {
    width:960px;
    margin:0 auto;
    font-size: 15px;
}

table {
    width:960px;
    margin:20px auto;
    font-size:15px;
    table-layout: fixed;
}

#board_head {
    font-weight: bold;
    text-align: center;
}

#board_head tr td {
    padding:10px 0;
    box-sizing: border-box;
    border-bottom: 2px rgb(194, 55, 182) solid;
}

.board_idx {
    width:20px;
}
.board_title {
    width:250px;
}
.board_nickname {
    width:50px;
}

.board_date{
    width:50px;
}
.board_likes {
    width:20px;
}
.board_view {
    width: 20px;
}

#board_body{
    font-weight: bold;
    text-align: center;
}

#board_body tr td {
    padding:20px 0;
    box-sizing: border-box;
}

#box {
    padding: 5px 0;
    width:100%;
    box-sizing: border-box;
}
.box1 {
    margin-left: 5px;
    border: none;
    float:right;
    background: rgb(194, 55, 182);
    padding: 7px;
    font-size: 14px;
}

.box1>a{
    color:#fff;
    background: rgb(194, 55, 182);
}

.list_num{
    text-align: center;
    margin:0 auto;

}

.list_num > a{
    color:lemonchiffon;
    font-size:14px;
    margin-left: 2px;
}

