@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    background-color:#000000;
    color:whitesmoke
}

ul,li{list-style: none;}
a{text-decoration: none;}

#wrap{
    padding-top:80px;
    width: 100%;
    background-color: transparent;
    
}


#b_name{
    text-align: center;
    font-size:25px;
    background-color: transparent;
}

#write_content{
    text-align: center;
    width:960px;
    margin: 7% auto;
    background-color: transparent !important;

}
.write{
    
    width:916.5px;
    margin: 0 auto;
}

.title {
    width: 100%;
    padding:10px 0;
    box-sizing: border-box;
    font-size:22px;
    font-weight: 500;
    border:none;
    
}

.title>strong{
    display: inline;
    width:9%;

}

.write_input {
    width:90%;
    font-size: 22px;
    margin-left: 2%;
    border:none !important;
    border-bottom: 1px dotted #dcdcdc !important;
    margin-left:3%;
    box-sizing: border-box;
}

.write_input:focus{
    outline: none;
}

.write_input::placeholder{
    font-size: 22px;
}

.content{
    padding-top: 2%;
    height: 300px;
    width: 100%;
    background-color: transparent !important;
    box-sizing: border-box;
}

.content > textarea {
    background-color: rgb(194, 55, 182) !important;
    color: #fff !important;
    width:916.5px;
    height: 300px;
    border:none !important;
    font-size: 22px;
    padding:0.4%;
    box-sizing: border-box;
}


.content > textarea::placeholder{
    color: #fff;
    box-sizing: border-box;
    opacity: 50%;
}

.write > form > input{
    background: rgb(221, 83, 28);
    color:#fff;
    margin:8% 0;
    padding:8px;
    box-sizing: border-box;
    float:right;
    border:none;
    cursor: pointer;
    font-size: 17px;
}

.box {
    margin:8% 0;
    width:100%;
    background: rgb(221, 83, 28);
}
.box1 {
    padding:8px;
    float:left;
    background: rgb(221, 83, 28);
    border:none;
}

.box1> button {
    background: rgb(221, 83, 28);
    cursor: pointer;
}

.box1>a{
    background: rgb(221, 83, 28) !important;
    color:#fff !important;
    font-size:17px;
    cursor: pointer;
}

body {
    background-image: url('./img/stardust.png');
    background-repeat: repeat-x;
    background-position-x: center;
    background-position-y: center;
}

#wrap {
    background: transparent !important;
}

#write_content {
    background: transparent !important;
}