*{
    margin:0;
    padding:0;
    background-color:#000000;
    color:whitesmoke
}

ul,li{list-style: none;}
a{text-decoration: none;}

h1{
    margin-top:10px;
    text-align: center;
}

h1 > a{
    text-align: center;
}

#pagename{
    margin-top:10px;
}

.view_content {
    width:960px;
    margin:0 auto;
    margin-top: 20px;
    border:0.5px grey solid;
}

.v_c_head{
    height: 30px;
    border-bottom: 0.5px grey dotted;
    color: grey;
    text-align: center;
}

.v_c_body{
    height: 20px;
    color: grey;
    text-align: center;
}

.idx{
    width:30px;
}

.title{
    width: 550px;
    text-align: center;
}

.nickname{
    width: 150px;
    text-align: center;
}

.date{
    width:130px;
    text-align: center;
}

.like{
    width: 50px;
    text-align: center;
}

.view{
    width: 50px;
    text-align: center;
}

.content_table{
    width:960px;
    height: 200px;
    border-top: 0.5px grey dotted;
}

.scrap{
    width:960px;
    margin:10px auto;
    text-align: end;
}



.comment_content{
    width: 960px;
    margin: 0 auto;
}

.comment_view{
    width:960px;
    margin:10px auto;
    border-bottom: 0.5px grey solid;
}

.view_comment{
    color:grey;
    font-stretch:12px;

}

.view_end{
    color:grey;
    font-size:12px;
    font-weight: 400;
}

.view_date{
    color:grey;
    font-size:12px;
    font-weight: 400;
    text-align: end;
}

.comment_style{
    width:500px;
    height: 50px;
    margin:20px auto;
    border:none;
    border-bottom: 0.5px grey solid;
}

.button{
    margin: 40px auto;
    text-align: center;
}
