@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    color:whitesmoke;
}

ul,li{list-style: none;}
a{text-decoration: none;}

#wrap{
    height: 100%;
}

#view_title{
    margin-top:20px;
    text-align: center;
    font-size: 25px;
}

.view_content {
    width:960px;
    margin:0 auto;
    margin-top: 5%;
}

table{
    table-layout: fixed;
    width:100%;
}

.v_c_head{
    width:100%;
    height: 30px;
    /* border-bottom: 0.5px rgb(6, 6, 138) solid; */
    color: grey !important;
    text-align: center;
    border-bottom:0.5px rgb(194, 55, 182) solid;
    font-size: 12px;
}

.v_c_body{
    width:100%;
    height: 30px;
    color: grey !important;
    text-align: center;
    border-bottom: 0.5px rgb(194, 55, 182) solid;
    font-size: 12px;
    margin-top:3px;
}

.board_idx {
    width:20px;
}
.board_title {
    width:250px;
}
.board_nickname {
    width:50px;
}
.board_date{
    width:50px;
}
.board_likes {
    width:20px;
}
.board_view {
    width: 20px;
}

.content_table{
    display: table;
    margin-top: 30px;
    width:960px;
    height: 300px;
    border:none;
}

.content{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border:none;
    width:100%;
    height: 100%;
    background: rgb(194, 55, 182) ;
}

.l_s{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:20px auto;
    width:960px;
}

.likes > form > button {
    background: rgb(194, 55, 182);
    padding: 3px;
    border:none;
    font-size: 17px;
    width:40px;
    box-sizing: border-box;
    cursor: pointer;
}


.scrap,.likes {
    background: rgb(194, 55, 182);
    padding: 5px;

}

.scrap > form > button {
    background: rgb(194, 55, 182);
    padding: 3px;
    border: none;
    font-size: 17px;
    width:40px;
    box-sizing: border-box;
    cursor: pointer;
}


.comment_content{
    width: 960px;
    margin: 0 auto;
    border: none;
}

.comment_content>form{
    width:100%;
    display: flex;
    justify-content: space-between;
}


.comment_style{
    width:92.5%;
    margin-top:20px;
    margin-bottom: 5px;
    border:none;
    border-bottom: 0.5px rgb(221, 83, 28) dashed;
    font-size: 15px;
    padding:5px;
    box-sizing: border-box;


}

.comment_content>form>input:nth-child(2):focus{
    outline: none;
}

.comment_style + input {
    width: 6%;
    height: 34px;
    margin-top: 12px;
    background: rgb(221, 83, 28);
    padding: 8px;
    box-sizing: border-box;
    border:none;
    font-size: 13px;
    cursor: pointer;
}

.comment_view{
    width:960px;
    margin:20px auto;
    border-bottom: 0.5px rgb(221, 83, 28) solid;
}

.view_comment{
    color:whitesmoke;
    font-size:15px;
    padding:3px;
    box-sizing: border-box;

}

.view_end{
    color:grey;
    font-size:12px;
    font-weight: 400;
    padding-left:3px;
    padding-bottom:2px;
    display: inline-block;
}

.view_date{
    color:grey;
    font-size:12px;
    font-weight: 400;
    text-align: end;
    padding-left:3px;
    padding-bottom:2px;
}



.button{
    width:960px;
    margin: 0 auto;
    margin-top:30px;
    display: flex;
    justify-content: space-between;
}

.button > button {
    padding: 7px;
    border: none;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px #f1f1f1 dashed;
    cursor: pointer;
}

.comment_delete{
    background: none;
    font-size: 12px;
    /* border:0.5px darkblue dotted; */
    cursor: pointer;
    border:none;
}

.delete{
    padding: 7px;
    border: 1px #f1f1f1 dashed;
    font-size: 14px;
    box-sizing: border-box;
    cursor: pointer;
}



.list{
    display: block !important;
    text-align: right !important;
}

.list>button{
    padding: 7px;
    border: none;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px #f1f1f1 dashed;
    cursor: pointer;
}

body {
    background-image: url('./img/stardust.png');
    background-repeat: repeat-x;
    background-position-x: center;
    background-position-y: center;
}

#wrap {
    background: transparent !important;
}

#wrap > .l_s {
    background: transparent !important;
}