*{
    margin:0;
    padding:0;
    background-color:#000000;
    color:whitesmoke
}

ul,li{list-style: none;}
a{text-decoration: none;}

#b_name{
    margin-top:30px;
    text-align: center;
}

#write_content{
    width:800px;
    margin: 0 auto;
    padding: 100px 20px 0 20px;
    box-sizing: border-box;

}
.write{
    width:800px;
    margin: 0 auto;
}

.title {
    width: 100%;
    padding:10px 0;
    box-sizing: border-box;
    font-size:17px;
    font-weight: 500;
    border:none;
    
}

.title>strong{
    display: inline;
    width:9%;

}

.write_input {
    width:90%;
    font-size: 17px;
    margin-left: 2%;
    border:none !important;
    border-bottom: 1px dotted #dcdcdc !important;
}

.write_input:focus{
    outline: none;
}

.write_input::placeholder{
    font-size: 15px;
}

.content{
    margin-top: 10px;
    height: 250px;
    width: 100%;
}

.content > textarea {
    background-color: rgb(86, 8, 122) !important;
    color: #fff !important;
    width:100%;
    height: 250px;
    border:none !important;
    font-size: 15px;
    padding:10px;
    box-sizing: border-box;
}


.content > textarea::placeholder{
    color: #fff;
    box-sizing: border-box;
    opacity: 50%;
}

.write > form > input{
    background: rgb(184, 57, 7);
    color:#fff;
    margin-top:20px;
    padding:0px 10px;
    box-sizing: border-box;
    height: 28px;
    float:right;
    border:none;
}

.box {
    width:100%;
    background: rgb(184, 57, 7);
}
.box1 {
    margin-left: 5px;
    margin-top:20px;
    height: 28px;
    float:left;
    background: rgb(184, 57, 7);
    border:none;
}

.box1> button {
    background: rgb(184, 57, 7);
    
}

.box1>a{
    background: rgb(184, 57, 7);
    color:#fff !important;
    padding:0 10px;
}
