@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    color:whitesmoke;
}

ul,li{list-style: none;}
a{text-decoration: none;}

#wrap{
    padding-top:100px;
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    box-sizing: border-box;
}

#b_name{
    text-align: center;
    font-size:25px;
    background-color: transparent;
}

table {
    width:916.5px;
    font-size:18px;
    table-layout: fixed;
    margin:0 auto;
    margin-top:5%;
}

#scrap_table{
    width:916.5px;
    font-size:18px;
    table-layout: fixed;
    margin:0 auto;
    margin-top:5%;
}

#board_head {
    font-weight: bold;
    text-align: center;
}

#board_head tr td {
    padding:10px 0;
    box-sizing: border-box;
    border-bottom: 2px rgb(194, 55, 182) solid;
    margin:10px 0;
}

.board_idx {
    width:46px;
}

.scrap_title{
    width:450px;
}

.board_title {
    width:500px;
}

.scrap_nickname{
    width:120px;
}

.board_date{
    width:120px;
}

.comment_date{
    width: 170px;
}

.board_likes {
    width:50px;
}

.scrap_delete{
    width:50px;
}
.board_view {
    width: 50px;
}

#board_body{
    font-weight: bold;
    text-align: center;
}

#board_body>tr{
    height: 54px;
    
}

#board_body tr td {
    padding:15px 0;
    box-sizing: border-box;
    margin:15px 0;
}

#board_body tr td form button{
    border: 0.7px rgb(194, 55, 182) solid;
    padding: 7px;
    font-size: 16px;
    cursor: pointer;

}

#box {
    width:100%;
    text-align: center;
    margin:4% auto;
}
.box1 {
    border: none;
    background: rgb(194, 55, 182);
    padding: 7px;
    font-size: 16px;
}

.box1>a{
    color:#fff;
    background: rgb(194, 55, 182);
}

.list_num{
    text-align: center;
    margin:0 auto;
    padding-bottom: 1%;
}

.list_num > a{
    color:lemonchiffon;
    font-size: 16px;
}

#wrap {
    background-image: url('./img/stardust.png');
    background-repeat: repeat-x;
    background-position-x: center;
    background-position-y: center;
}

#wrap > .list_num {
    /* background: transparent !important; */
    font-weight: bold;
    font-size: 18px;
    width: 910px;
}

#wrap > .list_num > a {
    background: transparent !important;
    /* font-weight: bold; */
    font-size: 18px;
}

#wrap > #box {
    background: transparent !important;
}
