@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    background-color:#000000;
    color:whitesmoke
}

ul,li{list-style: none;}
a{text-decoration: none;}

#wrap{
    width:100%;
}

#update_img{
    position: relative;
    background-image: url("./img/p_up.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    opacity: 70%;
    top:0;
    z-index:0;
    width: 100vw;
    height: 78vh;
    margin:0 auto;
    overflow: hidden;
}

#pagename{
    width: auto;
    height: fit-content;
    text-align: center;
    z-index: 1;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    top:20vh;
    background-color: transparent;
    font-size: 22px;
}


.join_info{
    position:absolute;
    top:30vh;
    left:46%;
    transform: translateX(-47%);
    width: 400px;
    background-color: transparent;
    font-size: 25px;
}

.join_info>p{
    margin-bottom:4%;
    background-color: transparent;
    font-size: 25px;
    text-align: right;
}

.id{margin-right:37%;}
.name{margin-right:36%;}
.birth{margin-right:32%;}
.gender{margin-right: 41%;}

.join_info>p>input{
    border:none;
    border-bottom: 0.5px rgb(194, 55, 182) dotted;
    background-color: transparent;
    font-size: 16px;
    text-align: left;
    padding-bottom: 1px;
    padding-left:3px;
    box-sizing: border-box;
    opacity: 50%;
}

.join_info>p>input:focus{
    outline: none;
}

.join_info > p >input::placeholder{
    padding-bottom: 1px;
    padding-left:3px;
    box-sizing: border-box;

}

.join_login{
    position:absolute;
    top:73%;
    left:62%;
    transform: translateX(-62%);
    width: 300px;
    background-color: transparent;
    cursor: pointer;
}

.join_login > input {
    font-size: 16px;
    color:black;
    padding: 5px 7px;
    border:none;
    background: #f1f1f1;
    cursor: pointer;
}

.button{
    position:absolute;
    top:79%;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    width:200px;
    margin:0 auto;
    /* margin-top:1%; */
}

.button > button {
    padding: 7px;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px #f1f1f1 dashed;
}


