*{
    margin:0;
    padding:0;
    background: #000;
}

ul,li{list-style: none;}
a{text-decoration: none;}


#pagename{
    width: auto;
    height: fit-content;
    text-align: center;
    z-index: 1;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    top:30vh;
    background-color: transparent;
    font-size: 27px;
}




#welcomeimg{
    position: relative;
    background-image: url("./img/a.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    opacity: 50%;
    top:0;
    z-index:0;
    width: 100vw;
    height: 100vh;
    margin:0 auto;
}

.join_info{
    position:absolute;
    top:40%;
    left:50%;
    transform: translateX(-50%);
    width: 300px;
    background-color: transparent;
}

.join_info>p{
    margin-bottom:10px;
    background-color: transparent;
    font-size: 22px;
    text-align: right;
}

.join_info>p>span{
    color:rgb(194, 55, 182);
}



.button{
    position:absolute;
    top:70%;
    left: 50%;
    margin-left:calc(500px/-2);
    width:500px;
    display: flex;
    justify-content: space-between;
}

.button > button {
    padding: 5px;
    border: none;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px #f1f1f1 dashed;
}


