*{
    margin:0;
    padding:0;
    background-color:#000000;
    color:whitesmoke
}


ul,li{list-style: none;}
a{text-decoration: none;}


#pagename{
    margin-top:30px;
    text-align: center;
}



.user_info{
    margin-top: 20px;
    margin-left: 40%;
    width: 300px;
}

.user_info>p {  
    margin-bottom:10px;
}

.user_join_login {
    text-align: center;
}

.user_join_login>p{
    margin-top:10px;
}

.home {
    text-align: center;
}

.button{
    margin-top:10px;
    text-align: center;
}

