*{
    margin:0;
    padding:0;
    background-color:#000000;
    color:whitesmoke
}


ul,li{list-style: none;}
a{text-decoration: none;}


#pagename{
    margin-top:30px;
    text-align: center;
}



.user_info{
    margin-top: 20px;
    margin-left: 40%;
    width: 300px;
}

.user_info>p {  
    margin-bottom:10px;
}

.user_join_login {
    text-align: center;
}

.user_join_login>p{
    margin-top:10px;
}

.home {
    text-align: center;
}

.button{
    margin-top:20px;
    text-align: center;
}

.button > button{
    display: block;
}

#profile_my_history{
    text-align: center;
    display: flex;
    width:1000px;
    height: 400px;
    margin:0 auto;
    margin-top:10px;
    justify-content: space-between;
}

#profile_my_history > div {
    width:300px;
    border:0.5px dotted rgb(56,56,205);
}


#profile_my_history > div > h3{
    margin-top:10px;
}


