@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    background-color:#000000;
    color:whitesmoke
}


ul,li{list-style: none;}
a{text-decoration: none;}


#pagename{
    width: auto;
    height: fit-content;
    text-align: center;
    z-index: 1;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    top:30vh;
    background-color: transparent;
    font-size: 22px;
}

#pagename_join{
    width: auto;
    height: fit-content;
    text-align: center;
    z-index: 1;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    top:20vh;
    background-color: transparent;
    font-size: 25px;
}


#loginimg{
    position: relative;
    background-image: url("./img/login.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    opacity: 50%;
    top:0;
    z-index:0;
    width: 100vw;
    height: 100vh;
    margin:0 auto;
}

#joinimg{
    position: relative;
    background-image: url("./img/join.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    opacity: 50%;
    top:0;
    z-index:0;
    width: 100vw;
    height: 100vh;
    margin:0 auto;
}



.user_info{
    position:absolute;
    top:40vh;
    left:50%;
    transform: translateX(-50%);
    background-color: transparent;
}

.user_info>p {  
    margin-bottom:9%;
    background-color: transparent;
    font-size: 21px;
    text-align: right;
}

.user_info>p>input{
    border:none;
    border-bottom: 0.5px rgb(194, 55, 182) dotted;
    background-color: transparent;
    font-size: 21px;
    padding-bottom: 1px;
    padding-left:3px;
    box-sizing: border-box;
}

.user_info>p>input:focus{
    outline: none;
}

.join_info{
    position:absolute;
    top:27vh;
    left:40%;
    transform: translateX(-40%);
    width: 400px;
    background-color: transparent;
}

.join_info>p{
    margin-bottom:6%;
    background-color: transparent;
    font-size: 22px;
    text-align: right;
}

.join_info>p:nth-child(1){
    font-size: 15px;
    margin-right: 22px;
}

.join_info>p>span{
    color:rgb(194, 55, 182);
    background-color: transparent;
}

.gender{
    margin-right: 38%;;
}

.gender>select{
    border-color: rgb(194, 55, 182);
    font-size: 20px;
    background-color: transparent;
    outline: none;

}

.join_info>p>input{
    border:none;
    border-bottom: 0.5px rgb(194, 55, 182) dotted;
    background-color: transparent;
    font-size: 16px;
    text-align: left;
    padding-bottom: 0.5%;
    padding-left:0.5%;
    box-sizing: border-box;
}

.join_info>p>input:focus{
    outline: none;
}

.join_info > p >input::placeholder{
    padding-bottom: 1px;
    padding-left:0.5%;
    box-sizing: border-box;
    font-size:15px;

}

.user_join_login {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:58%;

}

.user_join_login > input {
    font-size: 18px;
    padding: 5px 7px;
    border:none;
    background: rgb(194, 55, 182);
    color:#000;
    border-radius: 30%;

}

.user_join_login>p{
    margin-top:10px;
}

.user_join {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top: 88%;
    height: auto;
}

.user_join > input {
    font-size: 18px;
    color:black;
    padding: 5px 7px;
    border:none;
    border-radius: 30%;
    overflow: hidden;
    background-color: rgb(194, 55, 182);
}




.profile_info > input {
    font-size: 18px;
}

.profile_info>p{
    margin-top:25px;
    font-size:14px;
}

.home {
    position: absolute;
    bottom:200px;
    text-align: center;
}

.button{
    position:absolute;
    top:55%;
    left: 50%;
    margin-left:calc(500px/-2);
    width:500px;
    display: flex;
    justify-content: space-between;
}

.button > button {
    padding: 5px;
    border: none;
    font-size: 12px;
    box-sizing: border-box;
    border: 1px #f1f1f1 dashed;
}


.delete{
    padding: 5px;
    border: 1px #f1f1f1 dashed;
    font-size: 12px;
    box-sizing: border-box;
    cursor: pointer;
}


