<style>
@font-face {
    font-family: 'LAB디지털';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
    color:whitesmoke;
    font-family : 'LAB디지털'!important;
}

html{
    cursor:url('./img/rocket.png'),default;
    cursor:url('../img/rocket.png'),default;
    cursor:url('../../img/rocket.png'),default;
    cursor:url('./img/rocket.png'),pointer;
    cursor:url('../img/rocket.png'),pointer;
    cursor:url('../../img/rocket.png'),pointer;
    
}

a,input{
    cursor:url('./img/rocket.png'),pointer;
    cursor:url('../img/rocket.png'),pointer;
    cursor:url('../../img/rocket.png'),pointer;
}

button{
    cursor:url('./img/rocket.png'),pointer;
    cursor:url('../img/rocket.png'),pointer;
    cursor:url('../../img/rocket.png'),pointer;
}

label:hover{
    cursor:url('./img/rocket.png'),pointer;
    cursor:url('../img/rocket.png'),pointer;
    cursor:url('../../img/rocket.png'),pointer;
}


ul,li{list-style: none;}
a{text-decoration: none;}

#main_header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 0.1%;
    background: transparent !important;
    position: fixed;
    z-index:1;
}

#logo{
    width: 200px;
    height: 100%;
    margin-top:20px;
    background-image: url('./img/galaxy.png');
    background-image: url('../img/galaxy.png');
    background-image: url('../../img/galaxy.png');
    background-size: 100% 70px;
    background-repeat: no-repeat;
    text-align: center;
    background-color: transparent !important;
}

h1{
    margin-top:20px;
    text-align: center;
    background:transparent !important;
    margin-left: 30%;
}

h1>a{
    background-color:transparent;
    color:rgb(194, 55, 182);
}


.menu{
    width:50px;
    height: 30px;

}


input[id="menu"]{
    display: none;
}

input[id="menu"]+label{
    position: relative;
    display: block;
    width:50px;
    height: 30px;
    cursor: pointer;
    z-index: 3;
    padding-right:1%;
    box-sizing: border-box;
    margin-right: 3px;

}

input[id="menu"]+label>span{
    position: absolute;
    display: block;
    width: 90%;
    height: 2px;
    border-radius: 30px;
    background: #fff;
    transition: all 0.35s;
    z-index: 3;

}

input[id="menu"] + label > span:nth-child(1){
    top:0px;
}

input[id="menu"] + label > span:nth-child(2){
    top:50%;
    transform: translateY(-50%);
}

input[id="menu"] + label > span:nth-child(3){
    bottom:0px;
}

input[id="menu"]:checked + label > span:nth-child(1){
    top:50%;
    transform: translateY(-50%) rotate(45deg);

}

input[id="menu"]:checked + label > span:nth-child(2){
    opacity: 0;
}

input[id="menu"]:checked + label > span:nth-child(3){
    bottom:50%;
    transform: translateY(50%) rotate(-45deg);
 
}


#menu + label + .main_menu{
    position:fixed;
    right:-30%;
    top:0;
    width:28%;
    height: 100%;
    box-sizing: border-box;
    transition: all 0.2s;
    z-index: 2;
    
}

#menu:checked + label + .main_menu {
    right: -2px;;
}



#main_page{
    margin-top:60%;
    text-align: center;
}

#main_page > li {
    margin-top: 15%;
}

#main_page > li > a{
    color: white;
    font-size: 25px;
}
</style>


<div id="main_header">
    <div id="logo">
        <h1><a href="/">T-SPACE</a></h1>
    </div>
    <div class="menu">
        <input type="checkbox" id="menu">
        <label for="menu">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <div class="main_menu">
            <ul id="main_page">
                <li>
                    <a href="/">HOME .</a>
                </li>
                {% if user %}
                <li>
                    <a href="/user/profile">PROFILE .</a>
                </li>
                <li>
                    <a href="/user/logout">LOGOUT .</a>
                </li>
                <li>
                    <a href="/board/list/1">BOARD .</a>
                </li>
                {% else %}
                <li>
                    <a href="/user/join">JOIN .</a>
                </li>
                <li>
                    <a href="/user/login">LOGIN .</a>
                </li>
                <li>
                    <a href="/board/list/1">BOARD .</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
