<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/b_index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1><a href="/">logo</a></h1>
    <h1>게시판페이지</h1> 
    <div id="content">
        <table>
            <thead id="board_head">
                <tr>
                    <td class="board_idx">번호</td>
                    <td class="board_title">제목</td>
                    <td class="board_username">작성자</td>
                    <td class="board_date">작성일</td>
                    <td class="board_recommend">좋아요</td>
                    <td class="board_view">조회수</td>
                </tr>
            </thead>
            <tbody id="board_body">
                {% for item in result %}
                <tr>
                    <td>{{item.idx}}</td>
                    <td><a href="/board/view/?idx={{item.idx}}">{{item.title}}</a></td>
                    <td>{{item.nickname}}</td>
                    <td>{{item.date}}</td>
                    <td>{{item.likes}}</td>
                    <td>{{item.view}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p></p>
        <div class="list_num">
            {% for num in pageNum %}  
            [<a href="/board/list/{{num+1}}">{{num+1}}</a>]
            {% endfor %}
        </div>
        <div id="box">
            <button class="box1"><a href="/board/write">글쓰기</a></button>
        </div>    
    </div> 
</body>
</html>

