<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/b_write.css" rel="stylesheet" type="text/css">
    {% include "../nunjucks/bWrite_formCheck.html" %}
</head>
<body>
    {% include "../nunjucks/header.html" %}
    <h3 id="b_name">You can "write" anything you want!</h3>
    <div id="write_content">
        <div class="write">
            <form name="form" method="post" action="/board/write" onSubmit="return formCheck()">
                <input type="hidden" name="userid" value="{{userid}}">
                <div class="title">
                    <strong>제목</strong>
                    <input class="write_input" type="text" name="title" placeholder="제목입력">
                </div>
                <div class="content">
                    <textarea type="text" name="content" placeholder="내용입력"></textarea>
                </div>
                <input type="submit" value="글등록">
            </form>
            <div class="box">
                <button class="box1" type="button"><a href="/board/list/1">목록가기</a></button>
            </div>
        </div>
    </div>
</body>
</html>