<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내가 작성한 댓글</title>
    <link href="../../scrap.css" rel="stylesheet" type="text/css">
</head>
<body>
    {% include "../../nunjucks/header.html" %}
    <h3 id="b_name">"작성 댓글"</h3>
    <table>
        <thead id="board_head">
            <tr>
                <td class="board_idx">Num</td>
                <td class="board_title">Comment</td>
                <td class="board_date">Date</td>
            </tr>
        </thead>
        <tbody id="board_body">
            {% for item in result %}
            <tr>
                <td>{{loop.index}}</td>
                <td><a href="/board/view/?idx={{item.bid}}">{{item.comment}}</a></td>
                <td>{{item.date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="list_num">
        {% for num in pageNum %}  
        [<a href="/user/comment/{{num+1}}">{{num+1}}</a>]
        {% endfor %}
    </div>
    <div id="box">
        <button class="box1"><a href="/user/profile">Profile</a></button>
    </div>
</body>
</html>