<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>번호</td>
            <td>내용</td>
            <td>날짜</td>
        </tr>
        {% if result %}
        {% for item in result %}
        <tr>
            <td>{{loop.index}}</td>
            <td><a href="/board/view/?idx={{item.bid}}">{{item.comment}}</a></td>
            <td>{{item.date}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
    <div>
        {% for num in pageNum %}  
        [<a href="/user/comment/{{num+1}}">{{num+1}}</a>]
        {% endfor %}
    </div>
    <p></p>
    <a href="/user/profile">프로필 페이지로</a>
</body>
</html>